@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --navy: #132048;
}

.App {
  min-height: 100vh;
  background: linear-gradient(360deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

.App-footer {
  min-height: 10vh;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--navy);
}

.App-header {
  min-height: 20vh;
  color: var(--navy);
}

.App-logo {
  height: 75px;
  pointer-events: none;
}

.App-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 0px var(--navy);
}

.Board {
  min-height: 60vh;
  width: 95%;
  background-color:#AD875C;
  background-image: url(/cork-1.jpg);
  background-size: 50%;
  border: 5px solid white;
  border-radius: 10px;
}

.ListingCard {
  background: white;
}

.ListingDetail {
  background: white;
}