@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

:root {
  --bwl-navy: #132048;
  --bwl-grey: #4b6669;
  --bwl-green: #11ec77;
  --science: #4ecdc4;
  --medicine: #f15bb5;
  --sports: #3e7cd2;
  --sustainability: #43aa8b;
  --service: #00bbf9;
  --business: #c08497;
  --law: #e9b779;
  --arts: #ce72de;
  --writing: #9674d5;
  --architecture: #ff9770;
}

a {
  font-weight: 600 !important;
  color:#157fc5 !important;
}

button {
  font-size: 0.8rem !important;
}

#search {
  border: 2px solid var(--bwl-grey);
}

#toggle {
  border: 2px solid white;
}

.App {
  min-height: 100vh;
  background: linear-gradient(360deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.App-footer {
  min-height: 10vh;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--bwl-navy);
}

.App-header {
  min-height: 20vh;
  width: 90%;
  color: var(--bwl-navy);
}

.App-logo {
  height: 50px;
  padding-top: 5px;
  pointer-events: none;
}

.App-title {
  font-family: 'Bebas Neue';
  letter-spacing: 0.2rem;
  padding-top: 10px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  color: white;
  text-shadow: 2px 2px 0px var(--bwl-navy);
}

.App-description {
  font-size: 0.9rem;
  margin: 0 auto;
  padding-top: 5px;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 3vw);
  max-width: 85%;
}

.App-instruction {
  color: white;
  font-weight: bold;
}

.Board {
  height: 60vh;
  width: 95%;
  background-color:#AD875C;
  background-image: url(/cork-1.jpg);
  background-size: 50%;
  border: 4px solid white;
  border-radius: 10px;
  overflow-y: scroll;
  padding-top: 12px;
}

.ListingCard {
  background: white;
  border: 2px solid var(--bwl-grey);
}

.ListingCard .card-body {
  position: relative;
}

.ListingCard .card-title {
  padding-right: 5.5rem;
}

.ListingDetail {
  background: white;
  border: 2px solid var(--bwl-grey);
}

.ListingDetail .listing-website-link {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.status-container {
  background-color: var(--bwl-grey);
  color: white !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.status-open, .status-closed {
  font-style: italic;
  color: var(--bwl-grey) !important;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.status-open {
  text-shadow: 0px 0px 4px var(--bwl-green);
  animation: glow 1.5s infinite linear alternate;
}
@keyframes glow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.text-uppercase {
  font-family: 'Barlow Condensed' !important;
}

.card-title {
  font-size: 1rem !important;
}

.card-subtitle {
  font-size: 0.8rem !important;
}

.btn-link {
  color: white !important;
}

.interest-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-interest-tags {
  width: 100%;
}

.card-interest-tags .interest-tag-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

/* Logistics tag color classes */
.tag-remote {
  background-color: var(--bwl-grey) !important;
}
.tag-remote::before {
  content: "💻 ";
}
.tag-residential {
  background-color: var(--bwl-grey) !important;
}
.tag-residential::before {
  content: "🏠 ";
}
.tag-competition {
  background-color: var(--bwl-grey) !important;
}
.tag-competition::before {
  content: "🏆 " ;
}
.tag-coursework {
  background-color: var(--bwl-grey) !important;
}
.tag-coursework::before {
  content: "📚 ";
}
.tag-internship {
  background-color: var(--bwl-grey) !important;
}
.tag-internship::before {
  content: "💼 ";
}
.tag-volunteering {
  background-color: var(--bwl-grey) !important;
}
.tag-volunteering::before {
  content: "💜 ";
}

/* Interest tag color classes */
.tag-science {
  background-color: var(--science) !important;
}
.tag-science::before {
  content: "🧬 ";
}
.tag-medicine {
  background-color: var(--medicine) !important;
}
.tag-medicine::before {
  content: "🩺 ";
}
.tag-sports {
  background-color: var(--sports) !important;
}
.tag-sports::before {
  content: "⚽ ";
}
.tag-sustainability {
  background-color: var(--sustainability) !important;
}
.tag-sustainability::before {
  content: "🌎 ";
}
.tag-service {
  background-color: var(--service) !important;
}
.tag-service::before {
  content: "🤝 ";
}
.tag-business {
  background-color: var(--business) !important;
}
.tag-business::before {
  content: "📈 ";
}
.tag-law {
  background-color: var(--law) !important;
}
.tag-law::before {
  content: "⚖️ ";
}
.tag-arts { 
  background-color: var(--arts) !important;
}
.tag-arts::before {
  content: "🎨 ";
}
.tag-writing {
  background-color: var(--writing) !important;
}
.tag-writing::before {
  content: "📝 ";
}
.tag-architecture {
  background-color: var(--architecture) !important;
}
.tag-architecture::before {
  content: "🏛️ ";
}