@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --bwl-navy: #132048;
  --grey: #4b6669;
  --academic: #9674d5;
  --arts: #db5375;
  --science: #4ecdc4;
  --healthcare: #f15bb5;
  --environment: #43aa8b;
  --law: #c08497;
  --business: #ff9770;
  --leadership: #00bbf9;
  --architecture: #e9b779;
}

.App {
  min-height: 100vh;
  background: linear-gradient(360deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

.App-footer {
  min-height: 10vh;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--bwl-navy);
}

.App-header {
  min-height: 20vh;
  width: 90%;
  color: var(--bwl-navy);
}

.App-logo {
  height: 50px;
  padding-top: 5px;
  pointer-events: none;
}

.App-title {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.2rem;
  padding-top: 10px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  color: white;
  text-shadow: 2px 2px 0px var(--bwl-navy);
}

.App-description {
  font-size: 0.9rem;
  margin: 0 auto;
  padding-top: 5px;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 3vw);
  max-width: 85%;
}

.App-instruction {
  color: white;
  font-weight: bold;
}

.Board {
  height: 60vh;
  width: 95%;
  background-color:#AD875C;
  background-image: url(/cork-1.jpg);
  background-size: 50%;
  border: 5px solid white;
  border-radius: 10px;
  overflow-y: scroll;
  padding-top: 12px;
}

.ListingCard {
  background: white;
}

.ListingDetail {
  background: white;
}

button {
  font-size: 0.8rem !important;
}

/* Logistics tag color classes */
.tag-remote {
  background-color: var(--grey) !important;
}
.tag-remote::before {
  content: "💻 ";
}
.tag-residential {
  background-color: var(--grey) !important;
}
.tag-residential::before {
  content: "🏠 ";
}
.tag-competition {
  background-color: var(--grey) !important;
}
.tag-competition::before {
  content: "🏆 " ;
}
.tag-coursework {
  background-color: var(--grey) !important;
}
.tag-coursework::before {
  content: "📚 ";
}
.tag-internship {
  background-color: var(--grey) !important;
}
.tag-internship::before {
  content: "💼 ";
}

/* Interest tag color classes */
.tag-academic {
  background-color: var(--academic) !important;
}
.tag-academic::before {
  content: "🎓 ";
}

.tag-arts {
  background-color: var(--arts) !important;
}
.tag-arts::before {
  content: "🎨 ";
}

.tag-science {
  background-color: var(--science) !important;
}
.tag-science::before {
  content: "🧬 ";
}

.tag-health {
  background-color: var(--healthcare) !important;
}
.tag-health::before {
  content: "🩺 ";
}

.tag-sustainability {
  background-color: var(--environment) !important;
}
.tag-sustainability::before {
  content: "🌎 ";
}

.tag-law {
  background-color: var(--law) !important;
}
.tag-law::before {
  content: "⚖️ ";
}

.tag-business {
  background-color: var(--business) !important;
}
.tag-business::before {
  content: "💵 ";
}

.tag-service {
  background-color: var(--leadership) !important;
}
.tag-service::before {
  content: "🤝 ";
}

.tag-humanities {
  background-color: var(--academic) !important;
}
.tag-humanities::before {
  content: "📝 ";
}

.tag-architecture {
  background-color: var(--architecture) !important;
}
.tag-architecture::before {
  content: "🏛️ ";
}

.interest-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-title {
  font-size: 1rem !important;
}

.card-subtitle {
  font-size: 0.8rem !important;
}